@model IEnumerable<Cenit.Votos.Controllers.TarjetonViewModel>

@{
    ViewBag.Title = "Tarjeton";
    // Layout = "";
}

<div class="container">
    <div class="section no-pad">
        <div class="center no-pad">
            <div class="col s12">
                <div class="icon-block">
                    <h2 class="center" style="color:#333"><i class="material-icons md-96">how_to_vote</i></h2>
                    <h5 class="center">Para votar elige tu candidato y confirma!</h5>
                    <br>
                </div>
            </div>
        </div>

        @foreach (var item in Model)
        {
            <div class="row center">
                <h5>Candidatos a @item.Cargo.Nombre</h5>

                @foreach (var candidato in item.Cargo.Candidatos)
                {

                    <div class="materialboxed col s12 m4  l4 " data-id="@candidato.Id" data-cargo="@candidato.CargoId">
                        <div class="card-panel grey lighten-5 z-depth-1">
                            <div class="row valign-wrapper">
                                <div class="col s12">
                                    <img src="~/Content/Fotos/@(candidato.FotoId+".png")" alt="" class=" responsive-img">
                                </div>

                                <div class="col s6">
                                    <span class="black-text nombre">
                                        @candidato.Nombre
                                    </span>
                                </div>


                                <div class="col s6">
                                    <span class="black-text md-36 nro_planilla">
                                        @candidato.NumeroInscripcionPlanilla
                                    </span>
                                </div>

                            </div>
                        </div>
                    </div>

                }
            </div>
        }
    </div>
</div>


    <!-- Modal Structure -->
    <div id="modal1" class="modal bottom-sheet">
        <div class="modal-content" style="padding-top:12px;padding-bottom:0px">
            <h5> Confirma su voto?</h5>

            <div class="collection">
                <div class="collection-item avatar">
                    <img src="~/Content/Fotos/1.png" alt="" class="circle">
                    <span class="title nombre-modal">Title</span>
                    <br />
                    <span class="nro">@Model.First().Cargo.Nombre</span>

                    <a href="#!" class="secondary-content">
                        <i class="material-icons">done</i>
                    </a>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            @{if (Model.Count() > 0)
                {

                    <form action="@Url.Action("votoenfirme","tarjeton")" method="post">
                        @Html.AntiForgeryToken()
                        <input id="button" name="submit" value="Aceptar" type="submit" class="modal-close waves-effect waves-green btn btn-default" />
                    </form>
                }}

        </div>
    </div>

    @section scripts{
        <script>
            $(document).ready(function () {
                $('.modal').modal();
            });

            $().ready(function () {
                $(".materialboxed").click(function (item) {
                    var elem = $("#modal1")
                    //obtengo el elemento que ciclckee
                    var clicked = $(this).closest('.materialboxed');
                    var candidatoId = clicked.data("id")
                    var cargoid = clicked.data("cargo")
                    var fotoSrc = clicked.find('img').attr("src")
                    var nombre = clicked.find('span.nombre')
                    var nro = clicked.find('span.nro_planilla')
                    //  alert("Candidato:" + candidatoId + " | CargoId:" + cargoid)
                    $.post('@Url.Action("voto","tarjeton")', { id: candidatoId, cargo: cargoid }, function (res) {
                    //    alert(res)
                        //from db
                        var databaseClicked = $("div.materialboxed[data-id='" + res + "']")
                        var fotoSrc = databaseClicked.find('img').attr("src")
                        var nombre = databaseClicked.find('span.nombre').text().trim()
                        var nro = databaseClicked.data('span.nro_planilla')

                        $("#modal1").find('span.title').text(nombre)
                        $("#modal1").find('img').attr('src',fotoSrc)

                

                    })
                    var instance = M.Modal.getInstance(elem);
                    instance.open();
                })
            })
        </script>
    }

