@model Ingenio.PortalWebExterno.Models.SubscribeModel
@{
    ViewBag.Title = "Contactos";
    ViewBag.titulo = "Contactanos";
    ViewBag.url = Url.Action("index", "home");
    ViewBag.activo = "contactosActivo";
}

<!--formulario estilo-->
<style>

    #formulario {
        background-color: rgba(234, 234, 234, 0.75);
        margin-top: -10px;
        background-attachment: fixed;
        background-size: cover;
        padding-top: 20px;
        margin-top: 10px;
        margin-bottom: 30px;
        padding-bottom: 40px;
        padding-left: 20px;
        padding-right: 20px;
        -webkit-box-shadow: 0px 7px 54px -6px rgba(0,0,0,0.71);
        -moz-box-shadow: 0px 7px 54px -6px rgba(0,0,0,0.71);
        box-shadow: 0px 7px 54px -6px rgba(0,0,0,0.71);
    }

    .lead {
        color: #2D1F1F;
        font-family: inherit;
    }

    #info {
        background-color: rgba(234, 234, 234, 0.75);
        padding-top: 10px;
        padding-bottom: 10px;
        -webkit-box-shadow: 0px 7px 54px -6px rgba(0,0,0,0.71);
        -moz-box-shadow: 0px 7px 54px -6px rgba(0,0,0,0.71);
        box-shadow: 0px 7px 54px -6px rgba(0,0,0,0.71);
    }
</style>
<!--formulario contactenos-->
<section style="background-image:url(/img/Logos/cofinalFondo.png); margin-bottom: 0px;">
    <div class="container" style="margin-top: -40px;">
        <div class="row">
            <div class="col-md-8">

                <section id="formulario">

                    <div class="heading">
                        <center><h3>Formulario de Contacto</h3></center>
                    </div>

                    <p class="lead">
                        Para nosotros sus comentarios nos ayudan a mejorar día a día, es muy importante poder contar con sus sugerencias o mensajes, llene el siguiente formulario y háganos saber lo que usted está pensando.
                    </p>

                    <form action="/home/ValidateCaptcha" method="POST">
                        @Html.AntiForgeryToken()
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="firstname">Nombres</label>
                                    <input style="text-transform: uppercase;" type="text" class="form-control" id="firstname" name="firstname" onkeypress="return soloLetras(event)" required>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="lastname">Apellidos</label>
                                    <input style="text-transform: uppercase;" type="text" class="form-control" id="lastname" name="lastname" onkeypress="return soloLetras(event)" required pattern="([a-zA-Z ]+)">
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="Telefono">Teléfono o Celular</label>
                                    <input type="tel" class="form-control" id="Telefono" name="Telefono" onKeyPress="return soloNumeros(event)" maxlength="11" required autocomplete="off">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="Ciudad">Ciudad</label>
                                    <input style="text-transform: uppercase;" type="text" class="form-control" id="Ciudad" name="Ciudad" onkeypress="return soloLetras(event)" required>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <input type="email" class="form-control" id="email" name="email" required autocomplete="off">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="documento">Número de documento</label>
                                    <input type="text" class="form-control" id="documento" maxlength="11" name="documento" onKeyPress="return soloNumeros(event)" required autocomplete="off">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label><strong> * Tipo de identificacion</strong></label>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" value="CC" name="tipo_identificacion" checked="checked" onclick="handleClick(this)">
                                            C.C
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" value="CE" name="tipo_identificacion" onclick="handleClick(this)">
                                            C. Extranjería
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" value="TI" name="tipo_identificacion" onclick="handleClick(this)">
                                            T.I
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" value="OTRO" name="tipo_identificacion" onclick="handleClick(this)">
                                            Otro
                                        </label>

                                    </div>
                                    <input type="text" value="CC" class="form-control" id="tipo" name="tipo" onclick="handleClick(this)" style="display:none">
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-sm-12">
                                <div class="tipoinfo">
                                    <span><strong>* Tipo de información</strong></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="radio">
                                    <label>
                                        <input type="radio" value="INFORMACION DE PRODUCTO" name="tipo_informacion" onclick="handle1(this)">
                                        Información de producto
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" value="SUGERENCIAS" name="tipo_informacion" onclick="handle1(this)">
                                        Sugerencias
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" value="SOLICITUD DE PRODUCTO" name="tipo_informacion" onclick="handle1(this)">
                                        Solicitud de producto
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" value="QUEJAS Y RECLAMOS" name="tipo_informacion" checked="checked" onclick="handle1(this)">
                                        Quejas o reclamos
                                    </label>

                                </div>
                                <input type="text" value="QUEJAS Y RECLAMOS" class="form-control" id="asunto" name="asunto" style="display:none">
                            </div>
                        </div>

                        <div class="row">

                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="message"><font><font>Comentarios</font></font></label>
                                    <textarea id="message" name="message" class="form-control" required></textarea>
                                </div>
                            </div>

                            <div class="col-sm-12 text-center">
                                <div class="editor-label">
                                    @Html.LabelFor(model => model.Captcha)
                                    <a href="@Url.Action("Index")">
                                        <img alt="Captcha" src="@Url.Action("CaptchaImage")" style="" />
                                    </a>
                                </div>
                                <div class="editor-field">
                                    @Html.EditorFor(model => model.Captcha, new { htmlAttributes = new { @id = "captura" } })
                                    @Html.ValidationMessageFor(model => model.Captcha)

                                </div>
                                @*<div class="g-recaptcha" data-sitekey="6LfNcBMTAAAAAMilW297YqhG2Ap25DmeMc94zbMx"></div>
                                    <br />
                                    @section scripts{
                                        <script src="https://www.google.com/recaptcha/api.js" async defer></script>
                                    }*@
                                <div class="form-group">
                                    <textarea id="capta" name="capta" style="height:150px" class="form-control hidden " required></textarea>
                                </div>
                                <button type="submit" onclick="darclick();" class="btn btn-template-main"><i class="fa fa-envelope-o"></i> Enviar Mensaje</button>

                            </div>
                        </div>
                        <!-- /.row -->
                    </form>

                </section>

            </div>

            <div class="col-md-4" style="margin-top: 30px;">

                <section id="info">

                    <center>
                        <h3 class="text-uppercase">Dirección y Teléfonos de nuestra Oficina Principal</h3>
                    </center>

                    <center>
                        <p>
                            Cra. 29 No. 18-41
                            <br>San Juan de Pasto
                            <br>Nariño Colombia - Suramerica
                            <br>Tel: +(011572) 7336300
                            <br>Email: servicioalasociado@cofinal.com.co
                            <br>
                            <strong>Colombia</strong>
                        </p>
                    </center>


                </section>

            </div>

        </div>
    </div>
</section>

<script>
    function soloNumeros(e) {
        var key = window.Event ? e.which : e.keyCode
        return ((key >= 48 && key <= 57) || (key == 8))
    }
    function soloLetras(e) {
        key = e.keyCode || e.which;
        tecla = String.fromCharCode(key).toLowerCase();
        letras = " áéíóúabcdefghijklmnñopqrstuvwxyz";
        especiales = "8-37-39-46";

        tecla_especial = false
        for (var i in especiales) {
            if (key == especiales[i]) {
                tecla_especial = true;
                break;
            }
        }

        if (letras.indexOf(tecla) == -1 && !tecla_especial) {
            return false;
        }
    }

    function darclick() {

        var captura = document.getElementById('captura').value;
        if (captura == "") { swal("Por favor, Resuelva la suma"); }
        else {

            document.getElementById('capta').value = "listo";
        }
    }
</script>

<script>
    function handleClick(myRadio) {
        currentValue = myRadio.value;
        document.getElementById("tipo").value = currentValue;
    }

    function handle1(myRadio) {
        currentValue = myRadio.value;
        document.getElementById("asunto").value = currentValue;
    }
</script>

