@model List<Ingenio.PortalWebExterno.Models.Agencia>

@{
    ViewBag.Title = "Nuestras Agencias";
    ViewBag.titulo = "Nuestras Agencias";
    ViewBag.url = Url.Action("index", "home");
    //ViewBag.activo = "conoscanosActivo";
    ViewBag.activo = "Conózcanos";
}


<script src="https://kit.fontawesome.com/f9533edd0d.js" crossorigin="anonymous"></script>

<style>
    #heading-breadcrumbs {
        background-image: linear-gradient( to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../../img/Img_Web2/background_agencias.jpg);
        padding: 70px 0;
    }

    .contenido {
        @* background-image: url(/img/texture-bw.png);*@
        /*padding-top: 20px;*/
        padding-bottom: 20px;
        @*-webkit-box-shadow: 3px 6px 37px 4px rgba(0,0,0,0.75);
        -moz-box-shadow: 3px 6px 37px 4px rgba(0,0,0,0.75);
        box-shadow: 3px 6px 37px 4px rgba(0,0,0,0.75); <!-- FONDO CON TEXTURA GRIS PARA EL TEXTO --> *@
    }
</style>
<link rel="stylesheet" type="text/css" href="~/Content/parallax.css">


<section class="imagen_baner">
    <img class="img_desk" src="~/img/Img_Web2/agencias.png" alt="Numero principal: 7366087" />
    <img class="img_phone" src="~/img/Img_Web2/agencias_cel.png" alt="Numero principal: 7366087" />
</section>

<section class="contenido">
    <div class="container container__nuestras_Agencias" style="background-color: rgba(255, 255, 255, 0.8); ">

        <div class="controles_Agencia">
            <div id="nar" class="total_Agencias active">Nariño</div>
            <div id="Cau" class="total_Agencias ">Cauca</div>
            <div id="Putumayo" class="total_Agencias ">Putumayo</div>
            <div id="Valle" class="total_Agencias ">Valle</div>
        </div>

        <div class="tab-content" style="background-color: rgba(255, 255, 255, 0.8);">
            <div class="tab-pane active" id="nar_Agencia">
                <div class="container__Agencias">
                    @foreach (var agencia in Model)
                    {
                        if (agencia.Departamento == "Nariño")
                        {
                            <div id="@agencia.Id" class="agencias agencia_2">
                                <img src="@agencia.Url" />
                                <p>@agencia.Nombre</p>
                            </div>
                        }
                    }
                </div>
            </div>
            <div class="tab-pane " id="Cau_Agencia">
                <div class="container__Agencias">
                    @foreach (var agencia in Model)
                    {
                        if (agencia.Departamento == "Cauca")
                        {
                            <div id="@agencia.Id" class="agencias agencia_2">
                                <img src="@agencia.Url" />
                                <p>@agencia.Nombre</p>
                                <p style="position:absolute;color:red;">Prueba</p>
                            </div>
                        }
                    }
                </div>
            </div>
            <div class="tab-pane" id="Putumayo_Agencia">
                <div class="container__Agencias">
                    @foreach (var agencia in Model)
                    {
                        if (agencia.Departamento == "Putumayo")
                        {
                            <div id="@agencia.Id" class="agencias agencia_2">
                                <img src="@agencia.Url" />
                                <p>@agencia.Nombre</p>
                                <p style="position:absolute;color:red;">Prueba</p>
                            </div>
                        }
                    }
                </div>
            </div>
            <div class="tab-pane" id="Valle_Agencia">
                <div class="container__Agencias">
                    @foreach (var agencia in Model)
                    {
                        if (agencia.Departamento == "Valle del Cauca")
                        {
                            <div id="@agencia.Id" class="agencias agencia_2">
                                <img src="@agencia.Url" />
                                <p>@agencia.Nombre</p>
                                <p style="position:absolute;color:red;">Prueba</p>
                            </div>
                        }
                    }
                </div>
            </div>

             <!-- Creacion de las Ventanas Emergentes Teniendo encuenta el modelo Agencias_info.cs -->   

            @foreach (var agencia in Model)
            {
                <dialog class="modal_Agencias" id="dialog_@agencia.Id">
                    <div class="button close-button" id="c-modal1"><i class="fa fa-solid fa-xmark"></i></div>
                    <div class="container__Modal">
                        <div class="header_modal">
                            <h2>@agencia.Nombre</h2>
                            <img src="@agencia.Url" />
                        </div>
                        <p>
                            <strong>Dirección: </strong><br>
                            @agencia.Direcion<br>
                            <strong>Telefono: </strong><br>
                            Teléfono: 7336300 Extensiones: @agencia.Extensiones<br>
                            <strong>Horario de Atencion: </strong>
                            Lunes a Viernes: 8:00 am a 12:00 meridiano – 2:00 pm a 5:00 pm Sábado: 8:00 am a 2:00 pm Jornada Continua
                        </p>
                        <div class="imagen_Google">
                            @*<iframe class="img2" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.9160578226433!2d-77.28225128580804!3d1.2185285623241011!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e2ed487375d6129%3A0x75d762a9f2c9e3da!2sCOFINAL!5e0!3m2!1ses!2sit!4v1454678597238" frameborder="0" style="border: 0;" allowfullscreen></iframe>*@
                            
                            <iframe src="@agencia.Mapas" width="350" height="250" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>
                    </div>
                </dialog>
            }
        </div>
    </div>
</section>

<div class="container-fluid" style="margin-bottom: -6px;">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="rgba(252,132,4,0.9)" fill-opacity="1" d="M0,32L120,74.7C240,117,480,203,720,202.7C960,203,1200,117,1320,74.7L1440,32L1440,320L1320,320C1200,320,960,320,720,320C480,320,240,320,120,320L0,320Z"></path></svg>
</div>

<script>
    const body = document.querySelector("body");
    //console.log(body);
    document.querySelectorAll(".agencias").forEach((item) => {
        item.addEventListener("click", (event) => {
            // console.log(item.id);
            const stringModal = `dialog_${item.id}`;
            // console.log(`#${stringModal}`);
            const modal = document.querySelector(`#${stringModal}`)
            console.log(event)
            modal.showModal();
            body.style.overflow = "hidden";
            document.querySelectorAll(".close-button").forEach((item) => {
                item.addEventListener("click", (event) => {
                    modal.close()
                    body.style.overflow = "auto";
                    // console.log(item.classList.contains("close-button"));
                });
                window.onclick = function (event) {
                    // console.log(event.target);
                    console.log(modal);
                    if (event.target == modal) {
                        modal.close();
                        body.style.overflow = "auto";
                    }
                };
            });
        });
    });
</script>

<script>
    const list__Agencia = document.querySelectorAll(".total_Agencias");
    document.querySelectorAll(".total_Agencias").forEach((agencia) => {
        agencia.addEventListener("click", () => {
            list__Agencia.forEach(agenciaT => agenciaT.classList.remove('active'));
            //console.log(agencia.id);
            agencia.classList.add('active');
            document.querySelectorAll(".tab-pane").forEach((item) => {
                item.classList.remove('active');
                //console.log(item.classList);
                //console.log(agencia)
                //console.log(item.id);
                //console.log(item);
                const agencia_lugar = `${agencia.id}_Agencia`
                if (item.id == agencia_lugar) {
                    //console.log(item.id)
                    item.classList.add('active');
                }
            })
        })
    })
</script>